@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');

h1,
h2 {
  font-family: 'Syne', sans-serif;
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

.text-focus-in-delayed {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

.text-focus-out {
  -webkit-animation: text-focus-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  animation: text-focus-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-out {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }

  100% {

    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes text-focus-out {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);

    opacity: 1;
  }

  100% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}